
version: 2.1
jobs:
  build:
    working_directory: ~/repo
    docker:
      - image: circleci/node:16.13.1
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: npm install --force
      - run:
          name: Build IOS
          command: npx react-native run-ios --configuration Release